<a href=@Link target="_blank" class="ml-md-auto">@Text</a>

@code {
    private string Text => IsLogged ? "Logout": "Login";
    private string Link => IsLogged ? "/": "/login";
    [Parameter]
    public bool IsLogged { get; set; } = false;
}
