@page "/Admin"
@using LCLazyService.Services
@inject ILasyService Service

<h1>Admin page</h1>
<MyLazyComponent/>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine($"Service: {Service}");
    }
}
